# SERVER
SERVER_ADDRESS=:8080
SERVER_WRITE_TIMEOUT=15s
SERVER_READ_TIMEOUT=15s

#DB
DB_PASSWORD=YOU_DB_PASSWORD - default 'root'
DB_HOST=localhost
DB_PORT=5432
DB_NAME=frameby
DB_SSLMODE=disable
DATABASE_URL=postgres://postgres:agentdb@localhost:5432/frameby?sslmode=disable

#STATE
STATE=DsGqMftyi34NG7725PN67V

#JWT
JWT_SECRET=4jAJLUqf0i9+hPAhRwhYN4zB58Wdxw1d+aDze2gXf785wrgEr1w5Ewnau/VQ1zNX

#FRONTEND
FRONTEND_URL=http://localhost:3000

#BACKEND
BACKEND_URL=http://localhost:8080
